#site-nav {
  z-index: 999;
}

#home-page {
  margin-top: 1rem;
  margin-bottom: 80px;
  * {
    margin: 0.2rem 0 0.2rem 0;
  }

  .about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    * {
      width: 50%;
    }

    &-text > * {
      width: 100%;
      padding-top: 0.2rem;
      padding-right: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

}

.project-row {
  display: flex;
  justify-content: center;
}

.row-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around !important;
  width: 100%;
  * {
    width: 50%;
  }
}

.img-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around !important;
  align-items: center;
  width: 100%;
  * {
    height: 50%;
  }
}

.img-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center !important;
  width: 100%;
  div > p {
    text-align: center;
  }
  * {
    width: 100%;
  }
  & > * {
    width: 45%;
    margin: 0.5rem !important;
  }
}

#project-page {
  margin-top: 1rem;
  margin-bottom: 80px;
  Row {
    margin: 2rem 0 2rem 0;
  }
}

.home-row {
  & > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.link-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
  margin: 1rem 1rem 1rem 1rem !important;
  padding: 2rem 2rem !important;
}

.project-links {
  display: flex;
  justify-content: center;
  a {
    padding: 0 1rem 0 1rem;
  }
}

.player-wrapper {
  padding: 0 2.5rem 1rem 2.5rem;
}

.category-header {
  margin-top: 2rem;
}

.code-display {
  white-space: pre-wrap;
  margin: 1rem;
  * {
    padding: 0;
    margin: 0;
  }
}

.text-examples {
  display: flex;
  justify-content: space-around;

  & > div {
    width: 50%;
  }

  * > div {
    padding: 0.5rem;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 0.25rem;
    height: 90%;
  }

  * > p {
    text-align: center;
  }
}
